<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423859373102-ob5vu93qudnu1kd8oqor1n3ln6grrm7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423859373102-ob5vu93qudnu1kd8oqor1n3ln6grrm7r</string>
	<key>API_KEY</key>
	<string>AIzaSyBnm2w_hESLLaDrIcfc6JRHxKITI2vEMNo</string>
	<key>GCM_SENDER_ID</key>
	<string>423859373102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHomeUi</string>
	<key>PROJECT_ID</key>
	<string>smart-home-e4a26</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-e4a26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423859373102:ios:d3df96f7da3130ab4e0bbf</string>
</dict>
</plist>